body,html {
    margin: 0;
    padding:  0;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif, Courier, monospace;
    font-weight: 400;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    z-index: 1000;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  width: 85%;
}

nav ul li {
    list-style: none;
    margin: 6px;
    color: white;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li:hover a{
    cursor: pointer;
    transform: scale(1.03);
    color: #346585;
}


/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background:
    linear-gradient(
      to bottom,
      rgba(255,255,255,0) 60%,
      white 100%
    ),
    url("https://i.postimg.cc/nzxmcjx4/IMG-0062-2.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  padding: 400px 350px;
}

#hero-description {
  font-size: 28px;
  color: white;
  position: relative;
  top: -130px;

  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Experience Section */
h2 {
    text-align: center;
    color: #346585;
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 5%;
}

.experience {
    display: flex;
    align-items: flex-start; /* aligns items at the top */
    gap: 2rem; 
    flex-direction: column;
}

#hero-image-container {
    display: flex;
    justify-content: space-around;
    width: auto;
    text-align: center;
}

.experience-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8rem;
    max-width: 1100px;
    margin: 0 auto;
}

.experience-column {
    flex: 1;
    text-align: center;
}

.experience-column h3 {
    color: #0b3b64;
    font-size: 2rem;
}

.experience-column h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.experience-column p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
}

/* Projects Column */
.projects-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
    gap: 4rem;
    max-width: 1100px;
    margin: 0 auto 8%;
}

@media (max-width: 768px) {
    .projects-section {
        grid-template-columns: 1fr;
    }
}

.projects-column {
    flex: 1;
    text-align: center;
}

.projects-column h3 {
    color: #0b3b64;
    font-size: 2rem;
}

.projects-column h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.projects-column p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
}

.projects-column img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid #346585;
}

.projects-column img:hover {
    transform: scale(1.03);
}

.projects-column img:active {
    transform: scale(0.95);
}

/* Skills Section */
.skills-section {
    margin: 4rem auto;
    background: white;
    color: black;
    overflow: hidden;
}

.marquee--wrapper {
    width: 400%;
    display: flex;
    position: relative;
    height: 100px;
    align-items: center;
    left: 0;
    animation: slide 20s  linear infinite  ;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 400%;
    position: relative;
    left: 0;
}
/* always make sure left is half of thw width */

@keyframes slide {
    100% {
        left: -200%;
    }
}

.marquee--wrapper:hover {
    animation-play-state: paused;
}

.marquee--wrapper:hover div:not(:hover) {
    opacity: 0.3;
}

.wrapper div {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    transition: .5s;
    cursor: pointer;
    padding: 2rem 0;
}

.wrapper div img {
    width: 70px;
    filter: grayscale(100%);
}

.wrapper div:hover {
    transform: scale(1.2)
}

svg {
    color: white;
}